<%# add json metadata line with order id, we'll store product data %>
<%# either render json from btcpayserver or store orders on our server %>
<%# create invoice model associated to products %>
<form method="POST" onsubmit="onBTCPayFormSubmit(event);return false" action="https://btcpayserver.bitcoinjungle.app/api/v1/invoices" class="btcpay-form btcpay-form--block">
  <input type="hidden" name="storeId" value="BMztwyeDKHNwKCAYZ1DoaPnrKF9WsF9S2FtqvBa1SusE" />
  <input type="hidden" name="jsonResponse" value="true" />
  <input type="hidden" name="price" value=<%= amount %> />
  <input type="hidden" name="currency" value=<%= currency.upcase %> />
<button type="submit" class="submit btn btn-primary w-100" name="submit" alt="Pay with BtcPay">Pay Now</span>
<img src="https://btcpayserver.bitcoinjungle.app/img/logo.svg" style="height:45px;display:inline-block;padding: 5% 0 5% 5px;vertical-align: middle;">
</button></form>
<script>
  if (!window.btcpay) {
    var script = document.createElement('script');
    script.src="https://btcpayserver.bitcoinjungle.app/modal/btcpay.js";
    document.getElementsByTagName('head')[0].append(script);
  }
  function onBTCPayFormSubmit(event) {
    event.preventDefault();
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200 && this.responseText) {
        window.btcpay.showInvoice(JSON.parse(this.responseText).invoiceId);
      }
    };
    xhttp.open('POST', event.target.getAttribute('action'), true);
    xhttp.send(new FormData(event.target));
  }
</script>
