/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Nav */
li {
  list-style-type: none;
}

.logo {
  max-width: 100px;
}

.navLink {
  list-style-type: none;
  text-decoration: none;
  color: #3BBAB5;
  transition: color 250ms ease;
}

.navLink:hover,
.navActive {
  color: #E57D22;
}
/* End Nav */

 /* Colors */
:root {
  --color-light:  #fff;
  --color-dark:   #000;
  --color-text:   #0C0C0C;
  --color-accent: #E57D22;
  --color-link:   #3BBAB5;
}
/* End Colors */

// Tiles
.tile {
  background: white;
  border-radius: 10px;
  margin-bottom: 24px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);
}

.tileImage {
  background-size: cover;
  padding-bottom: 100%;
}

.tileText {
  padding: 24px 16px;
  z-index: 2;
}

.tileHeightWrapper {
  min-height: 180px;
}
// End Tiles